.app-container {
}

.line {
  border-bottom: 0.5px solid rgb(238, 114, 114);
}

body {
  background-color: whitesmoke;
  color: whitesmoke;
  width: 100%;
}

.headers {
  // height: 300px;
}

.workarea{
  color: #525f7fdc;
  margin-top: -60px;
}

